<form action ="/random/results">
  
  <div>
    <label>Minimum</label>
   <input type="text" name="Min" placeholder = "E.g. 1.5">
  </div>

  <div>
   <label>Maximum</label>
   <input type="text" name="Max" placeholder = "E.g. 1.5">
  </div>
  
  <button>Pick random number</button?>
</form>
